    <a href="/">Home</a>
    <a href="/add-book">Add Book</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/login">Login</a>
    <% if(user) { %> 
        <a href="/me"><%= user.name %></a>
    <% } %>