<%- include('../includes/head.ejs') %>
    <title>Login !</title>
</head>
<body>
    <%- include('../includes/navigation.ejs', { user: user }) %>

    <h1>Login</h1>
    <main>
        <div>
            <form action="" method="POST"> 
                Email: <input type="email" name="email" id="email"><br>
                Password: <input type="password" name="password" id="password"><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>
</html>