<%- include('../includes/head.ejs') %>
    <title>Sign Up!</title>
</head>
<body>
    <%- include('../includes/navigation.ejs', { user: user }) %>

    <h1>Sign Up</h1>
    <main>
        <div>
            <form action="" method="POST">
                Name: <input type="text" name="name" id="name"><br>
                Email: <input type="email" name="email" id="email"><br>
                Password: <input type="password" name="password" id="password"><br>
                <button type="submit">Sign-up</button>
            </form>
        </div>
    </main>
</body>
</html>